@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

body {
    background: #000000;
    background-image: url(images/fondo.jpg);
    background-size: cover;
    background-position: center;
}

/* ====== ENCABEZADO (HEADER) ====== */
.header {
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

/* ====== LOGO ====== */
.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 65px;
    width: auto;
    transition: all 0.3s;
    margin-top: 15%;
}

.header .logo img:hover {
    transform: scale(1.2);
}

/* ====== NAVEGACIÓN (ENLACES) ====== */
.header nav {
    margin-left: auto; /* Mueve los enlaces a la derecha */
}

.header .nav-links {
    list-style: none;
    display: flex; /* Alinea los enlaces en fila */
    gap: 20px; /* Espacio entre enlaces */
}

.header .nav-links li {
    display: inline-block;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-weight: 700;
    color: #ba3e3e;
    text-decoration: none;
    transition: color 0.3s;
}

.header .nav-links a:hover {
    color: #ff4d4d;
}

/* ====== RESPONSIVE DESIGN ====== */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .header nav {
        margin-left: 0;
        margin-top: 10px;
    }

    .header .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .btn {
        margin-top: 10px;
    }
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 85px);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3px;
}

.container img{
    max-width: 400px;
    height: auto;
}

h1{
    color: #ffffffd8;
    font-size: 8vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 40px;

}

.info-box{
    background: #924d4d98;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(150, 15, 15, 0.354);
    text-align: center;
    margin: 2;
    width: 400%;
    max-width: 900px;
    transition: box-shadow 0.4s ease;
}


.info-box:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.742);

}
.info-box p{
    color: rgb(255, 255, 255);
    font-family: 'Poppins' sans-serif;
    font-size: 3vh;
}

footer{
    background-color: #000000;
    color: #ffffff;
    padding: 2px 0;
    text-align: center;
}

.footer-content {
    max-width: 1500px;
    margin: 0 auto;
}

footer nav ul {
    list-style: none;
    padding: 0;
}



footer nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

